ul.benefit__list{
    display: flex;
    padding: 2%;
}
li.benefit__item{
    flex: 1;
    margin: 0 3%;
    list-style: none;
 
 &:last-child{
    margin-left: 0;
}
}
li.benefit__item{
    margin-left: 0;
    text-align: center;
}
.benefit__container{
    text-align: center;
}
.benefit__image-wrapper{
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background:#f2f5f4;
    background-repeat: 50%;
    overflow: hidden;
    border-radius: 50%;
}
img.benefit__icon{
    width: 75px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
section.section__benefit{
    position: relative;
    background: url(../img/leaf-grey.png) left top 40% no-repeat;

    
    &::before{
        content:url(../img/rasberry.png);
        position: absolute;
        bottom: -110px;
        left: 0%;
    }
    
}
.benefit__container{
    width: 100%;   
}
.headline__title {
    margin-bottom: 30px;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}
.headline__subtitle {
    color: #666666;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 50px;
}
.benefit__desc {
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #666666;

}
h3.benefit__title {
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #292929;
    margin: 20px 0;
}

