@import "main6.scss";
@import "benefits.scss";
@import "form.scss";
@import "headline.scss";
@import "interactive--avatar.scss";
@import "main3.scss";
@import "main4.scss";
@import "main5.scss";
@import "reviews.scss";
@import "section.scss";
@import "map.scss";
@import "footer.scss";
@import "team.scss";
@import "shop.scss";



html{
    @include tablets{
        font-style: 17px;
    }

    @include phones{
        font-size: 18px;
    }
}
html{
    font-size: 18px;

}
* 
{
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
}
.wrapper{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
section.section__hero{
    background: url(./pattern1.png) right top no-repeat; 
    background-color: #61C4D9;
    min-height: rem(650px);
    color: #ffffff;
    position: relative;
    width: 100%;
    
    &::before{
        content:url(../img/leaf-left.png);
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
    }

    &::after{
     content: url(../img/bars-berries2.png);
    position: absolute;
    bottom: rem(-40px);
    right: 0;
    display: inline-block;
    }
}
a{
    color: white;
}
h1.title__main {
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    line-height: rem(58px);
    text-transform: uppercase;
}
.title__desc{
    color: white;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: rem(21px);
    line-height: rem(25px);
    margin: rem(20px) 0;
}
.btn{
    text-decoration: none;
    padding: rem(21px) (41px);
    border-radius: rem(100px);
    text-transform: uppercase;
}
.btn__theme-white{
    background:white;
    color: #365A49;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: 800;
    font-size: rem(16px);
    line-height: rem(18px);
}
.btn__theme-white:hover{
    color: #ffffff;
    background: #365A49;
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px) rem(80px);
    background: url(./stickofconfectionery.png) left 90% center  no-repeat;
    width: 95%;
}

.title__main{
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    text-transform: uppercase;
}
.title__desc{
    font-size: rem(21px);
    margin-bottom: rem(48px);
    padding-right: 10%;
}
.hero__title{
    width: 46%;
    margin: rem(88px) 0;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px) rem(50px);
    background: url(./stickofconfectionery.png) left 90% center no-repeat;
    width: 95%;
}  