.features {
  display: flex;
}

li.features__item {
  margin-right: 46px;
  text-decoration: none;
}
li.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 45px;
  margin-right: 7px;
}

.feature__text {
  font-size: 16px;
  max-width: 85px;
}