header.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu__list {
  display: flex;
  align-items: center;
}

a.menu__link {
  text-decoration: none;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: rem(18px);
  line-height: rem(20px);
}

li.menu__item {
  margin-right: rem(15px);
  list-style: none;
}
li.menu__item.last-child {
  margin-right: 0;
}

a.phone__number {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: rem(22px);
  line-height: rem(18px);
}

img.phone__number-icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}