ul.benefit__list {
  display: flex;
  padding: 2%;
}

li.benefit__item {
  flex: 1;
  margin: 0 3%;
  list-style: none;
}
li.benefit__item:last-child {
  margin-left: 0;
}

li.benefit__item {
  margin-left: 0;
  text-align: center;
}

.benefit__container {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  background-repeat: 50%;
  overflow: hidden;
  border-radius: 50%;
}

img.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.section__benefit {
  position: relative;
  background: url(../img/leaf-grey.png) left top 40% no-repeat;
  width: 100%;
}
section.section__benefit::before {
  content: url(../img/rasberry.png);
  position: absolute;
  bottom: -110px;
  left: 0%;
}

.benefit__container {
  width: 100%;
}

.headline__title {
  margin-bottom: 30px;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.headline__subtitle {
  color: #666666;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
}

.benefit__desc {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
}

h3.benefit__title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  color: #292929;
  margin: 20px 0;
}

h2.form__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #365A49;
}

form.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 8%;
  display: -ms-flexbox;
}
.form__col:last-child {
  margin-right: 0;
}

.form__container {
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15%;
}

section.section__form {
  background: url(../img/pattern-berry.png) no-repeat;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

label.form__block {
  flex: 1;
  margin-right: 10%;
}
label.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__controls {
  display: flex;
}

.form__radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.form__radio-checkbox .radio__visible {
  border-radius: 0;
}
.form__radio-checkbox .radio__visible::before {
  background: url();
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label.radio.radio-checkbox {
  display: flex;
}

.headline__title {
  margin-bottom: 25px;
}

.headline__subtitle {
  color: #666666;
  padding: 0 26%;
}

.headline {
  text-align: center;
}

.interactive--avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive--avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

li.interactive--avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li.interactive--avatar--active {
  border: 6px solid #0f5a47;
}

img.interactive--avatar__img {
  width: 100%;
}

header.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu__list {
  display: flex;
  align-items: center;
}

a.menu__link {
  text-decoration: none;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

li.menu__item {
  margin-right: 15px;
  list-style: none;
}
li.menu__item.last-child {
  margin-right: 0;
}

a.phone__number {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 18px;
}

img.phone__number-icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

ul.hero__feature {
  display: flex;
}

li.feature__item {
  margin-right: 46px;
  list-style: none;
  display: flex;
}
li.feature__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 45px;
  margin-right: 7px;
}

.feature__text {
  max-width: 85px;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.reviews__display {
  background: url(../img/berry-grey.png) right top 10% no-repeat;
  background-color: #f8faf9;
  overflow: hidden;
  position: relative;
}

.reviews__display-inner {
  display: flex;
}

ul.reviews__switcher {
  display: flex;
  margin-left: 40%;
}

.reviews__avatar {
  width: 254px;
  height: 260px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 20px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black;
}

.reviews__text {
  margin-bottom: 36px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

li.reviews__item {
  list-style-type: none;
  padding-top: 3%;
}

.section {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section_list {
  list-style-type: none;
}
.section_list:last-child {
  max-height: 252px;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

img.map__img-img {
  width: 100%;
}

ul.socials__list {
  display: flex;
  right: 5%;
  top: 0;
  position: absolute;
}

li.socials__item {
  margin-right: 13px;
  list-style-type: none;
}

.footer__telefone {
  display: flex;
}

.footer__telefone--img {
  margin-right: 0.5%;
}

section.section__footer {
  position: relative;
  width: 100%;
}

ul.team__people {
  display: flex;
  text-align: center;
}

li.people__item {
  margin-right: 2%;
  list-style-type: none;
}

.team__title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

li.shop__item {
  display: flex;
  background: #F8FAF9;
}

ul.composition__list {
  list-style-type: none;
}

li.composition__item {
  display: flex;
  margin-bottom: 6%;
  background: #F8FAF9;
}

.composition__text {
  margin: 0 1%;
}

.composition {
  display: flex;
}

ul.composition__list {
  visibility: hidden;
}

.click__img:hover + ul.composition__list {
  visibility: visible;
}

a.btn__shop-green {
  text-decoration: none;
  padding: 21px 41px;
  border-radius: 100px;
  text-transform: uppercase;
  background: #365A49;
  color: white;
  font-weight: bold;
  position: absolute;
}

.price {
  display: flex;
  margin-top: 3%;
}

.price__text {
  margin-right: 3%;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
}

.description__price {
  display: flex;
}

.description__weight {
  display: flex;
}

.description__massa {
  margin-left: 10%;
}

h2.description__title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 46px;
  color: #292929;
}

.description__text {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 25px 0;
}

.calorie__content-title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.calorie__content-text {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 24px;
}

.massa__title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.massa__text {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

section.section__hero {
  background: url(./pattern1.png) right top no-repeat;
  background-color: #61C4D9;
  min-height: 650px;
  color: #ffffff;
  position: relative;
  width: 100%;
}
section.section__hero::before {
  content: url(../img/leaf-left.png);
  position: absolute;
  bottom: -40px;
  left: 2%;
}
section.section__hero::after {
  content: url(../img/bars-berries2.png);
  position: absolute;
  bottom: -40px;
  right: 0;
  display: inline-block;
}

a {
  color: white;
}

h1.title__main {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.title__desc {
  color: white;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  padding: 21px 41px;
  border-radius: 100px;
  text-transform: uppercase;
}

.btn__theme-white {
  background: white;
  color: #365A49;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}

.btn__theme-white:hover {
  color: #ffffff;
  background: #365A49;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px 80px;
  background: url(./stickofconfectionery.png) left 90% center no-repeat;
  width: 95%;
}

.title__main {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}

.title__desc {
  font-size: 21px;
  margin-bottom: 48px;
  padding-right: 10%;
}

.hero__title {
  width: 46%;
  margin: 88px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px 50px;
  background: url(./stickofconfectionery.png) left 90% center no-repeat;
  width: 95%;
}