li.shop__item {
  display: flex;
}
@media screen and (max-width: 768px) {
  li.shop__item {
    display: block;
  }
}

ul.composition__list {
  width: 16.4444444444rem;
  border-radius: 0.3125rem;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 8.0555555556rem;
  z-index: 1;
  display: none;
  background: white;
}

.bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
}

li.composition__item {
  display: flex;
  margin-bottom: 6%;
}

.composition__text {
  margin: 0 1%;
}

.composition {
  display: flex;
}
@media screen and (max-width: 768px) {
  .composition {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .shop__composition {
    padding: 0 25%;
  }
}

ul.composition__list {
  display: none;
}

.composition__click:hover + ul.composition__list {
  display: block;
}

a.btn__shop-green {
  text-decoration: none;
  border-radius: 5.5555555556rem;
  text-transform: uppercase;
  background: #365A49;
  color: white;
  font-weight: bold;
  position: absolute;
}

.price {
  display: flex;
  margin-top: 3%;
}

.price__text {
  margin-right: 3%;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 3.3333333333rem;
}

.description__price {
  display: flex;
}

.description__weight {
  display: flex;
}

.description__massa {
  margin-left: 10%;
}

h2.description__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.0555555556rem;
  line-height: 2.5555555556rem;
  color: #292929;
}

.description__text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  margin: 1.3888888889rem 0;
}

.calorie__content-title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
}

.calorie__content-text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #000000;
  margin-bottom: 1.3333333333rem;
}

.massa__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
}

.massa__text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #000000;
}

.product-slider__arrow {
  background-size: contain;
  display: block;
  width: 1.3333333333rem;
  position: absolute;
  top: 50%;
}

a.product-slider__arrow--direvtion--prev {
  background: url(../img/left.png) no-repeat;
  left: 0;
}

a.product-slider__arrow--direvtion--next {
  background: url(../img/right.png) no-repeat;
  right: 0;
}

h2.form__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #365A49;
}

form.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  form.form {
    flex-direction: column;
    padding: 0 19%;
  }
}

.form__col {
  flex: 1;
  margin-right: 8%;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__container {
  height: 100%;
  max-width: 52.2222222222rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15%;
}
@media screen and (max-width: 768px) {
  .form__container {
    padding: 0;
  }
}

section.section__form {
  background: url(../img/pattern-berry.png) no-repeat;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

label.form__block {
  flex: 1;
  margin-right: 16%;
}
label.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__controls {
  display: flex;
}

.form__radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.form__radio-checkbox .radio__visible {
  border-radius: 0;
}
.form__radio-checkbox .radio__visible::before {
  background: url();
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label.radio.radio-checkbox {
  display: flex;
}

.form__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2222222222rem;
  line-height: 1.2222222222rem;
  color: #497870;
}

.radio__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #497870;
}

.form__controls {
  display: flex;
  margin-bottom: 1.4444444444rem;
  margin-right: 1.2777777778rem;
}

a.btn__form {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
}
a.btn__form--one {
  background: #2E4E3F;
}
a.btn__form--two {
  background: transparent;
  color: #497870;
}

.form__btn {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  display: none;
}

.modal__container {
  margin: auto;
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}

a.btn.app-close-modal.btn--theme--green {
  background: #2E4E3F;
}

header.container__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

ul.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

a.menu__link {
  text-decoration: none;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1111111111rem;
  white-space: nowrap;
}

li.menu__item {
  margin-right: 0.8333333333rem;
  list-style: none;
  margin-bottom: 10px;
}
li.menu__item.last-child {
  margin-right: 0;
}

a.phone__number {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2222222222rem;
  line-height: 1rem;
}

img.phone__number-icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

span.phone__text {
  white-space: nowrap;
}

span.phone__number-icon {
  flex-shrink: 0;
}

nav.header__menu {
  margin: 0px 30px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  nav.header__menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  a.phone__number.header__phone-number {
    display: none;
  }
}

ul.hero__feature {
  display: flex;
}

li.feature__item {
  margin-right: 2.5555555556rem;
  list-style: none;
  display: flex;
}
li.feature__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  max-width: 4.7222222222rem;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.8888888889rem;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  .hero__icons {
    display: none;
  }
}

.header__hamburger {
  width: 24px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .header__hamburger {
    display: inline-flex;
    position: absolute;
    right: 43px;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  color: #666666;
  padding: 0 26%;
}

.headline {
  text-align: center;
}

.interactive--avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive--avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

li.interactive--avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li.interactive--avatar--active {
  border: 0.3333333333rem solid #0f5a47;
}

img.interactive--avatar__img {
  width: 100%;
}

img.map__img-img {
  width: 100%;
}

.reviews__display {
  background: url(../img/berry-grey.png) right top 10% no-repeat;
  background-color: #f8faf9;
  overflow: hidden;
  position: relative;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

ul.reviews__switcher {
  display: flex;
  margin-left: 40%;
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  margin-bottom: 1.2222222222rem;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
}

.reviews__text {
  margin-bottom: 2rem;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
}

.reviews__author {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3333333333rem;
  color: #292929;
}

li.reviews__item {
  list-style-type: none;
  padding-top: 3%;
}

h2.container__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section {
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section_list {
  list-style-type: none;
}
.section_list:last-child {
  max-height: 14rem;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 2.7777777778rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

ul.team__people {
  display: flex;
  text-align: center;
  flex: 1px;
}
@media screen and (max-width: 768px) {
  ul.team__people {
    display: block;
    text-align: center;
  }
}

li.people__item {
  margin-right: 2%;
  list-style-type: none;
}

.team__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

section.section__shop {
  position: relative;
}

.people__trigger {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3888888889rem;
  color: #000000;
  margin: 0 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .people__trigger {
    margin: 0 33%;
    padding-bottom: 5%;
  }
}
.people__trigger::after {
  content: "";
  height: 0;
  width: 0;
  border: 0.3333333333rem solid transparent;
  border-top-color: black;
  border-bottom-width: 0rem;
  margin-right: 0.5555555556rem;
}

.people__profession {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #292929;
}

.people__text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  text-align: center;
  color: #666666;
}

.people__content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

@media screen and (max-width: 768px) {
  .people__portrait {
    display: none;
  }
}

ul.benefit__list {
  display: flex;
  padding: 2%;
}
@media screen and (max-width: 480px) {
  ul.benefit__list {
    flex-direction: column;
  }
}

li.benefit__item {
  flex: 1;
  margin: 0 3%;
  list-style: none;
  margin-left: 0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  li.benefit__item {
    margin: 0;
    display: flex;
    margin-bottom: 1.0555555556rem;
  }
}
li.benefit__item:last-child {
  margin-left: 0;
}

.benefit__container {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  background-repeat: 50%;
  overflow: hidden;
  border-radius: 50%;
}

img.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.section__benefit {
  position: relative;
  background: url(../img/leaf-grey.png) left top 40% no-repeat;
  width: 100%;
}
@media screen and (max-width: 480px) {
  section.section__benefit {
    background: none;
  }
}
section.section__benefit::before {
  content: url(../img/rasberry.png);
  position: absolute;
  bottom: -25%;
  left: 0%;
}
@media screen and (max-width: 480px) {
  section.section__benefit::before {
    display: none;
  }
}

.benefit__container {
  width: 100%;
}

.headline__title {
  margin-bottom: 30px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.headline__subtitle {
  color: #666666;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
  }
}

.benefit__desc {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  color: #666666;
}

h3.benefit__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
  margin: 1.1111111111rem 0;
}

section.menu-litle {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section__title-menu {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%;
}

.accordeon-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
}

.accordeon-menu__sections {
  height: 100%;
  font-size: 0;
  display: flex;
  flex-direction: row;
}

.accordeon-menu__item {
  display: flex;
  height: 100%;
}

a.accordeon-menu__trigger {
  height: 100%;
  display: block;
  width: 5.6666666667rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  position: relative;
  float: left;
  border: none;
  cursor: pointer;
}
a.accordeon-menu__trigger--one {
  background: url(../img/bg1.png);
}
a.accordeon-menu__trigger--two {
  background: url(../img/bg2.png);
}
a.accordeon-menu__trigger--three {
  background: url(../img/bg3.png);
}

@media screen and (max-width: 480px) {
  .accordeon-menu__trigger {
    width: 4.375rem;
  }
}
.accordeon-menu__item.active {
  position: relative;
}

.accordeon-menu__item.active .accordeon-menu__trigger-text {
  color: #f8b43a;
  transition: 0.5s;
}

.accordeon-menu__trigger-text {
  font-family: "gagalinregular";
  font-size: 2.5rem;
  color: #fff;
  white-space: nowrap;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: rotate(270deg);
  transform-origin: 0;
}

.accordeon-menu__text {
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(49, 52, 54, 0.9);
  transition: width 0.4s;
}

.accordeon-menu__desk {
  height: 100%;
  width: 33.75rem;
  font-family: "ubuntu";
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  text-decoration: none;
  color: #f2f2f2;
  padding: 2.1875rem;
}

@media screen and (max-width: 480px) {
  .accordeon-menu__desk {
    width: 15rem;
  }
}
ul.socials__list {
  display: flex;
  right: 0%;
  top: 0;
  position: absolute;
}

li.socials__item {
  margin-right: 0.7222222222rem;
  list-style-type: none;
}

.footer__telefone {
  display: flex;
}

.footer__telefone-img {
  margin-right: 0.5%;
}

section.section__footer {
  position: relative;
  width: 100%;
}

.footer__address {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2222222222rem;
  line-height: 1.3333333333rem;
  color: #292929;
}

.telefone__number {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2222222222rem;
  line-height: 1.1666666667rem;
  color: #497870;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 17px;
  }
}

html {
  font-size: 18px;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

section.section__hero {
  background: url(./pattern1.png) right top no-repeat;
  background-color: #61C4D9;
  min-height: 36.1111111111rem;
  color: #ffffff;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  section.section__hero::after, section.section__hero::before {
    display: none;
  }
}
section.section__hero::before {
  content: url(../img/leaf-left.png);
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
section.section__hero::after {
  content: url(../img/bars-berries2.png);
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}

a {
  color: white;
}

h1.title__main {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-transform: uppercase;
}

.title__desc {
  color: white;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  margin: 1.1111111111rem 0;
}

.btn {
  text-decoration: none;
  padding: 1.1666666667rem 41px;
  border-radius: 5.5555555556rem;
  text-transform: uppercase;
}

.btn__theme-white {
  background: white;
  color: #365A49;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1rem;
}

.btn__theme-white:hover {
  color: #ffffff;
  background: #365A49;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem 4.4444444444rem;
  background: url(./stickofconfectionery.png) left 90% center no-repeat;
  width: 95%;
}

.title__main {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}

.title__desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.6666666667rem;
  padding-right: 10%;
}

.hero__title {
  width: 46%;
  margin: 4.8888888889rem 0;
}
@media screen and (max-width: 768px) {
  .hero__title {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title::before {
    content: url(../img/fon768.png);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem 2.7777777778rem;
  background: url(./stickofconfectionery.png) left 90% center no-repeat;
  width: 95%;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
    position: relative;
  }
}