header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu__list {
  display: flex;
  align-items: center;
}

a.menu__link {
  text-decoration: none;
}

li.menu__item {
  margin-right: 15px;
  list-style: none;
}
li.menu__item.last-child {
  margin-right: 0;
}

a.phone__number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

img.phone__number-icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}